http_interactions:
- request:
    method: GET
    uri: https://lda.senate.gov/api/v1/filings?filing_year=2024
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET
    body:
      string: '{"count":96577,"next":"https://lda.senate.gov/api/v1/filings/?filing_year=2024&page=2","previous":null,"results":[{"url":"https://lda.senate.gov/api/v1/filings/7866327b-c892-4430-b9f0-1f0f679c58c6/","filing_uuid":"7866327b-c892-4430-b9f0-1f0f679c58c6","filing_type":"RR","filing_type_display":"Registration","filing_year":2024,"filing_period":"first_quarter","filing_period_display":"1st
        Quarter (Jan 1 - Mar 31)","filing_document_url":"https://lda.senate.gov/filings/public/filing/7866327b-c892-4430-b9f0-1f0f679c58c6/print/","filing_document_content_type":"text/html","income":null,"expenses":null,"expenses_method":null,"expenses_method_display":null,"posted_by_name":"Amy
        R. Williams","dt_posted":"2024-01-02T10:13:41-05:00","termination_date":null,"registrant_country":"United
        States of America","registrant_ppb_country":null,"registrant_address_1":"1150
        CONNECTICUT AVE, NW","registrant_address_2":"SUITE 730","registrant_different_address":null,"registrant_city":"WASHINGTON","registrant_state":"DC","registrant_zip":"20036","registrant":{"id":35707,"url":"https://lda.senate.gov/api/v1/registrants/35707/","house_registrant_id":32416,"name":"SMITH
        GARSON FKA SMITH DAWSON & ANDREWS","description":"Government affairs","address_1":"1150
        CONNECTICUT AVE, NW","address_2":"SUITE 730","address_3":null,"address_4":null,"city":"WASHINGTON","state":"DC","state_display":"District
        of Columbia","zip":"20036","country":"US","country_display":"United States
        of America","ppb_country":"US","ppb_country_display":"United States of America","contact_name":"AMY
        R. WILLIAMS","contact_telephone":"+1 202-835-0740","dt_updated":"2025-07-29T10:00:49.320067-04:00"},"client":{"id":58116,"url":"https://lda.senate.gov/api/v1/clients/58116/","client_id":58116,"name":"E-COM
        9-1-1 DISPATCH CENTER","general_description":"Emergency services dispatch
        center","client_government_entity":null,"client_self_select":false,"state":"IL","state_display":"Illinois","country":"US","country_display":"United
        States of America","ppb_state":"IL","ppb_state_display":"Illinois","ppb_country":"US","ppb_country_display":"United
        States of America","effective_date":"2024-01-01"},"lobbying_activities":[{"general_issue_code":"BUD","general_issue_code_display":"Budget/Appropriations","description":"Federal
        funding opportunities related to emergency and disaster preparedness.","foreign_entity_issues":null,"lobbyists":[{"lobbyist":{"id":38841,"prefix":null,"prefix_display":null,"first_name":"BRETT","nickname":null,"middle_name":null,"last_name":"GARSON","suffix":null,"suffix_display":null},"covered_position":null,"new":true},{"lobbyist":{"id":72956,"prefix":null,"prefix_display":null,"first_name":"KRISTIAN","nickname":null,"middle_name":null,"last_name":"CHIN","suffix":null,"suffix_display":null},"covered_position":"Scheduler/special
        assistant, Rep. Raul Ruiz; Staff Assistant, Legislative Correspondent, Legislative
        Assistant, Rep. Zoe Lofgren","new":true},{"lobbyist":{"id":148710,"prefix":null,"prefix_display":null,"first_name":"KIERSTIN","nickname":null,"middle_name":null,"last_name":"STRADFORD-PATTERSON","suffix":null,"suffix_display":null},"covered_position":"Legislative
        Correspondent and Systems Administrator, Congressman Elijah E. Cummings Legislative
        Assistant and Systems Administrator, Congressman Kweisi Mfume","new":true}],"government_entities":[]},{"general_issue_code":"DIS","general_issue_code_display":"Disaster
        Planning/Emergencies","description":"Federal funding opportunities related
        to emergency and disaster preparedness.","foreign_entity_issues":null,"lobbyists":[{"lobbyist":{"id":38841,"prefix":null,"prefix_display":null,"first_name":"BRETT","nickname":null,"middle_name":null,"last_name":"GARSON","suffix":null,"suffix_display":null},"covered_position":null,"new":true},{"lobbyist":{"id":72956,"prefix":null,"prefix_display":null,"first_name":"KRISTIAN","nickname":null,"middle_name":null,"last_name":"CHIN","suffix":null,"suffix_display":null},"covered_position":"Scheduler/special
        assistant, Rep. Raul Ruiz; Staff Assistant, Legislative Correspondent, Legislative
        Assistant, Rep. Zoe Lofgren","new":true},{"lobbyist":{"id":148710,"prefix":null,"prefix_display":null,"first_name":"KIERSTIN","nickname":null,"middle_name":null,"last_name":"STRADFORD-PATTERSON","suffix":null,"suffix_display":null},"covered_position":"Legislative
        Correspondent and Systems Administrator, Congressman Elijah E. Cummings Legislative
        Assistant and Systems Administrator, Congressman Kweisi Mfume","new":true}],"government_entities":[]}],"conviction_disclosures":[],"foreign_entities":[],"affiliated_organizations":[]},{"url":"https://lda.senate.gov/api/v1/filings/295a9fd5-5775-4a38-b8d3-8897973ab6cd/","filing_uuid":"295a9fd5-5775-4a38-b8d3-8897973ab6cd","filing_type":"RR","filing_type_display":"Registration","filing_year":2024,"filing_period":"first_quarter","filing_period_display":"1st
        Quarter (Jan 1 - Mar 31)","filing_document_url":"https://lda.senate.gov/filings/public/filing/295a9fd5-5775-4a38-b8d3-8897973ab6cd/print/","filing_document_content_type":"text/html","income":null,"expenses":null,"e[...]
- request:
    method: GET
    uri: https://lda.senate.gov/api/v1/filings/?filing_year=2024&page=2
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET
    body:
      string: '{"count":96577,"next":"https://lda.senate.gov/api/v1/filings/?filing_year=2024&page=3","previous":"https://lda.senate.gov/api/v1/filings/?filing_year=2024","results":[{"url":"https://lda.senate.gov/api/v1/filings/3f38c878-2d91-4d50-890d-5145a803ce05/","filing_uuid":"3f38c878-2d91-[...]
