http_interactions:
- request:
    method: GET
    uri: https://lda.senate.gov/api/v1/lobbyists/1//
  response:
    status: 200
    headers:
      Content-Type: application/json
      Allow: GET
    body:
      string: '{"id":1,"prefix":null,"prefix_display":null,"first_name":"ALICE","nickname":null,"middle_name":null,"last_name":"DUCQ","suffix":null,"suffix_display":null,"registrant":{"id":51968,"url":"https://lda.senate.gov/api/v1/registrants/51968/","house_registrant_id":34851,"name":"MAYBERRY
        & ASSOCIATES, LLC","description":null,"address_1":"131 EAST BROAD STREET,
        #206","address_2":null,"address_3":null,"address_4":null,"city":"FALLS CHURCH","state":"VA","state_display":"Virginia","zip":"22046","country":"US","country_display":"United
        States of America","ppb_country":"US","ppb_country_display":"United States
        of America","contact_name":"MR. PETER MAYBERRY","contact_telephone":"+1 703-538-8804","dt_updated":"2022-04-06T16:07:54.085048-04:00"}}'
  recorded_at: 2025-12-08 19:53:02
recorded_with: VCR-vcr/2.0.0
